[submodule "vendor/org-html-themes"]
	path = vendor/org-html-themes
	url = https://github.com/fniessen/org-html-themes.git
[submodule "etc/yasnippet/snippets"]
	path = etc/yasnippet/snippets
	url = https://github.com/sdaaish/snippets.git
	branch = main
	ignore = dirty
[submodule "vendor/reveal.js"]
	path = vendor/reveal.js
	url = https://github.com/hakimel/reveal.js.git
