[submodule "vendor/org-html-themes"]
	path = vendor/org-html-themes
	url = https://github.com/fniessen/org-html-themes.git
[submodule "etc/yasnippet/snippets"]
	path = etc/yasnippet/snippets
	url = https://github.com/sdaaish/snippets.git
